<p><span style="color: #ff0000;">International Unicycling Federation<br>4400 Keller Ave. , #257<br>Oakland<br>CA<br>94605</span></p>
<p><span style="color: #ff0000;">Telephone: Telephone number</span><br><span style="color: #ff0000;">Fax: Fax number</span><br><span style="color: #ff0000;">Email: muster@mustermail.xy</span></p>
<p>The controller's data protection officer is:</p>
<p><span style="color: #ff0000;">Maxie Musterfrau&nbsp;</span></p>
<p><span style="color: #ff0000;">[The following information must be added if an external data protection officer has been appointed].</span></p>
<p><span style="color: #ff0000;">Any street 1</span><br><span style="color: #ff0000;">12345 Anytown</span><br><span style="color: #ff0000;">Germany</span></p>
<p><span style="color: #ff0000;">Telephone: Telephone number</span><br><span style="color: #ff0000;">Fax: Fax number</span><br><span style="color: #ff0000;">Email: datenschutz@mustermail.xy</span></p>

<!-- --------------

<p><span style="color: #ff0000;">Musterfirma/Musterunternehmer<br>Musterstraße 1<br>12345 Musterstadt<br>Deutschland</span></p>
<p><span style="color: #ff0000;">Telefon: Telefonnummer<br>Telefax: Faxnummer<br>E-Mail: muster@mustermail.xy</span></p>
<p>Datenschutzbeauftragte/r beim Anbieter ist:</p>
<p><span style="color: #ff0000;">Maxie Musterfrau&nbsp;</span></p>
<p><span style="color: #ff0000;">[nachfolgende Angaben sind zu ergänzen, sofern ein Externer Datenschutzbeauftragter bestellt ist]</span></p>
<p><span style="color: #ff0000;">Musterstraße 1<br>12345 Musterstadt<br>Deutschland</span></p>
<p><span style="color: #ff0000;">Telefon: Telefonnummer<br>Telefax: Faxnummer<br>E-Mail: datenschutz@mustermail.xy</span></p>


<p><span style="color: #ff0000;">Sample company/entrepreneur</span><br><span style="color: #ff0000;">Any street 1</span><br><span style="color: #ff0000;">12345 Anytown</span><br><span style="color: #ff0000;">Germany</span></p>
<p><span style="color: #ff0000;">Telephone: Telephone number</span><br><span style="color: #ff0000;">Fax: Fax number</span><br><span style="color: #ff0000;">Email: muster@mustermail.xy</span></p>
<p>The controller's data protection officer is:</p>
<p><span style="color: #ff0000;">Maxie Musterfrau&nbsp;</span></p>
<p><span style="color: #ff0000;">[The following information must be added if an external data protection officer has been appointed].</span></p>
<p><span style="color: #ff0000;">Any street 1</span><br><span style="color: #ff0000;">12345 Anytown</span><br><span style="color: #ff0000;">Germany</span></p>
<p><span style="color: #ff0000;">Telephone: Telephone number</span><br><span style="color: #ff0000;">Fax: Fax number</span><br><span style="color: #ff0000;">Email: datenschutz@mustermail.xy</span></p>


<p><span style="color: #ff0000;">Musterfirma/Musterunternehmer</span><br><span style="color: #ff0000;">Musterstraße 1</span><br><span style="color: #ff0000;">12345 Musterstadt</span><br><span style="color: #ff0000;">Allemagne</span></p>
<p><span style="color: #ff0000;">Téléphone : Numéro de téléphone</span><br><span style="color: #ff0000;">Fax : Numéro de fax</span><br><span style="color: #ff0000;">E-mail&nbsp;: muster@mustermail.xy</span></p>
<p>Le responsable de la protection des données chez le fournisseur est&nbsp;:</p>
<p><span style="color: #ff0000;">Maxie Musterfrau&nbsp;</span></p>
<p><span style="color: #ff0000;">[en cas de désignation d’un délégué externe à la protection des données, les informations suivantes doivent être complétées]</span></p>
<p><span style="color: #ff0000;">Musterstraße 1</span><br><span style="color: #ff0000;">12345 Musterstadt</span><br><span style="color: #ff0000;">Allemagne</span></p>
<p><span style="color: #ff0000;">Téléphone : Numéro de téléphone</span><br><span style="color: #ff0000;">Fax : Numéro de fax</span><br><span style="color: #ff0000;">E-mail&nbsp;: datenschutz@mustermail.xy</span></p>
 -->
