<p>Nous traitons uniquement vos données à caractère personnel (ci-après dénommées le plus souvent «&nbsp;Données&nbsp;») selon les besoins et dans le but de proposer un site internet fonctionnel et convivial, notamment dans son contenu et en termes de services proposés.</p>
<p>En vertu de l’art. 4, paragraphe 1, du règlement (UE) 2016/679, le règlement de base sur la protection des données (ci-après dénommé «&nbsp;RGPD&nbsp;») correspond à toute opération ou tout ensemble d’opérations effectuées avec ou sans procédés automatisés et appliqués à des données ou des ensembles de données à caractère personnel, telles que la collecte, l’enregistrement, l’organisation, la structuration, la conservation, l’adaptation ou la modification, la lecture, la consultation, l’utilisation, la communication par transmission, la diffusion ou tout autre moyen permettant le rapprochement ou l’interconnexion, la limitation, l’effacement ou la destruction.</p>
<p>Notre politique de confidentialité vous fournit principalement des informations relatives à la nature, la portée, l’objectif, la durée et la base légale du traitement des données à caractère personnel, dans la mesure où nous décidons des objectifs et des moyens du traitement, seuls ou avec d’autres partenaires. Nous vous informons également des partenaires tiers avec lesquels nous travaillons à des fins d’optimisation et d’augmentation de la qualité d’utilisation, lorsque ces derniers traitent les données sous leur propre responsabilité.</p>
<p>Notre politique de confidentialité est structurée comme suit&nbsp;:</p>
<p>I. Informations nous concernant en tant que responsables<br>II. Droits de l’utilisateur et des parties concernées<br>III. Informations relatives au traitement des données</p>
<p><strong>I. Informations nous concernant en tant que responsables</strong></p>
<p>En termes de protection des données, le fournisseur responsable de ce site internet est&nbsp;:</p>

<%= render "address" %>

<p><strong>II. Droits de l’utilisateur et des parties concernées</strong></p>
<p>En ce qui concerne le traitement des données décrit ci-dessous plus en détail, les utilisateurs et les personnes concernées ont le droit&nbsp;:</p>
<ul type="disc">
<li>D’obtenir la confirmation que les données sont traitées, de savoir quels types de données sont traités, d’obtenir des informations supplémentaires relatives au traitement des données et des copies des données (voir également l’Art. 15 du RGPD)&nbsp;;</li>
<li>De pouvoir corriger ou compléter des données erronées ou incomplètes (voir l’Art. 16 du RGPD)&nbsp;;</li>
<li>De pouvoir supprimer immédiatement les données les concernant (voir également l’Art. 17 du RGPD), ou, de savoir si un traitement supplémentaire, conformément à l’Art. 17, paragraphe 3 du RGPD, est requis. De pouvoir limiter le traitement, conformément à l’Art. 18 du RGPD&nbsp;;</li>
<li>De pouvoir obtenir les données les concernant et qu’ils ont fournies, et de savoir si ces données ont été transmises à d’autres prestataires/autorités (voir également l’Art. 20 du RGPD)&nbsp;;</li>
<li>De déposer une plainte auprès des autorités de contrôle s’ils considèrent que le fournisseur viole la règlementation en matière de protection des données (voir également l’Art. 77 du RGPD).</li>
</ul>
<p>En outre, le fournisseur est tenu d’informer tous les destinataires, auprès desquels les données ont été divulguées, de toute modification, suppression de données ou restriction du traitement, et ce, conformément à l’article 16, 17 paragraphes 1, 18 du RGPD. Cependant, cette obligation ne s’applique toutefois pas si la communication des informations s’avère impossible ou implique des efforts disproportionnés. L’utilisateur a néanmoins le droit d’obtenir des informations sur ces destinataires.</p>
<p><strong>De même, en vertu de l’Art. 21 du RGPD, les utilisateurs et les personnes concernées peuvent s’opposer au traitement ultérieur de leurs données si les données sont traitées par le fournisseur conformément à l’Art. 6, paragraphe 1, point f du RGPD. Il est en particulier autorisé de s’opposer au traitement des données à des fins de publicité directe.</strong></p>
<p><strong>III. Informations relatives au traitement des données</strong></p>
<p>Vos données traitées lors de l’utilisation de notre site internet seront supprimées ou bloquées dès lors que la raison de leur conservation n’a plus lieu d’être, que leur suppression n’entre pas en conflit avec les exigences légales en matière de conservation. Aucune autre information ne sera fournie ultérieurement relativement aux méthodes de traitement individuelles.</p>

<h4>Données de serveur</h4>
<p>Pour des raisons techniques, et notamment pour assurer la sécurité et la stabilité du site internet, les données nous sont transmises via votre navigateur Internet ou sont transmises à notre fournisseur d’espace internet. Les fichiers journaux de serveur collectent&nbsp;: le type et la version de votre navigateur internet, votre système d’exploitation, le site internet à partir duquel vous êtes arrivé sur notre site (URL de référence), le ou les pages de notre site que vous consultez, la date et l’heure de l’accès, et enfin, l’adresse IP de la connexion internet à partir de laquelle l’utilisation de notre site a eu lieu.</p>
<p>Ces données collectées seront temporairement conservées, mais ne seront pas partagées avec d’autres données vous concernant.</p>
<p>Cette conservation est effectuée selon l’Art. 6, paragraphe 1, point f) du RGPD. Notre intérêt est légitime car ces données participent à l’amélioration, la stabilité, la fonctionnalité et la sécurité de notre site.</p>
<p>Les données seront supprimées au plus tard au bout de sept jours, sauf si nous devons les conserver plus longtemps à titre probatoire. Dans ce cas, tout ou partie des données sera conservé jusqu’au règlement définitif du problème.</p>

<h4>Cookies</h4>
<h5><strong>a) Cookies de session</strong></h5>
<p>Nous utilisons des cookies sur notre site. Les cookies sont de petits fichiers texte, ou d’autres technologies de stockage, déposés et stockés sur votre appareil par le navigateur que vous utilisez. Ces cookies traitent certaines informations vous concernant, telles que votre navigateur, votre emplacement ou votre adresse IP. &nbsp;</p>
<p>Ce traitement rend notre site plus convivial, efficace et sécurisé, car il nous permet, par exemple, de reproduire notre site dans différentes langues ou d’offrir une fonction de panier d’achat.</p>
<p>La base juridique de ce traitement est l’Art. 6, paragraphe 1, point b.) du RGPD, dans la mesure où ces cookies sont utilisés pour traiter ou exécuter le contrat.</p>
<p>Lorsque le traitement des données ne sert pas à traiter ou exécuter le contrat, notre intérêt légitime réside dans l’amélioration de la fonctionnalité de notre site. La base juridique est alors l’art. 6, paragraphe 1, point f) du RGPD.</p>
<p>Lorsque vous fermez votre navigateur, les cookies sont supprimés.</p>
<h5><strong>b) Cookies de prestataires tiers</strong></h5>
<p>Notre site utilise également, si nécessaire, des cookies de sociétés partenaires avec lesquelles nous coopérons à des fins de publicité, d’analyse ou de fonctionnement de notre site.</p>
<p>Si vous souhaitez obtenir de plus amples informations, en particulier sur les objectifs et les bases juridiques du traitement de ces cookies de prestataires tiers, veuillez vous reporter aux informations ci-dessous.</p>
<h5><strong>c) Mesures de suppression</strong></h5>
<p>Il est possible d’empêcher ou de limiter l’installation des cookies en paramétrant votre navigateur. Il est également possible de supprimer les cookies sauvegardés précédemment à tout moment. Les étapes et les mesures nécessaires dépendent toutefois de votre navigateur. Si vous vous posez des questions, utilisez la fonction d’aide ou la documentation de votre navigateur, ou contactez le fabricant ou l’assistance. Avec les cookies Flash, il n’est cependant pas possible d’empêcher le traitement en paramétrant votre navigateur. Dans ce cas, vous devez modifier les paramètres de votre lecteur Flash. Les étapes et les mesures nécessaires dépendent toutefois de votre lecteur Flash. Si vous vous posez des questions, utilisez la fonction d’aide ou la documentation de votre lecteur Flash, ou contactez le fabricant ou l’assistance.</p>
<p>Si vous empêchez ou restreignez l’installation des cookies, il est possible que vous ne puissiez pas utiliser pleinement toutes les fonctions de notre site.</p>

<h4>Exécution du contrat</h4>
<p>Afin d’exécuter le contrat, nous avons impérativement besoin des données que vous nous transmettez pour l’utilisation de notre offre de biens et/ou de services. Sans ces données, conclure et exécuter le contrat n’est pas possible.</p>
<p>La base juridique pour le traitement est l’Art. 6, paragraphe 1, point b) du RGPD.</p>
<p>Lorsque le contrat est pleinement exécuté, nous supprimons les données, mais nous devons respecter le délai légal de conservation défini dans la législation fiscale et commerciale.</p>
<p>Dans le cadre de l’exécution du contrat, nous transmettons vos données à la société de transport mandatée pour la livraison des marchandises ou au prestataire des services financiers, lorsque la transmission est requise pour la livraison des marchandises ou pour le paiement.</p>
<p>La base juridique pour la transmission des données est l’Art. 6, paragraphe 1, point b) du RGPD.</p>

<h4>Compte client/fonction d’inscription</h4>
<p>Si vous créez un compte client via notre site internet, nous collectons et conservons les données fournies lors de votre inscription (par exemple, votre nom, votre adresse postale ou électronique) exclusivement dans le cadre de prestations précontractuelles, de l’exécution du contrat ou du service client (par exemple, pour vous fournir un aperçu de vos commandes passées ou vous faire bénéficier de la fonction de mémorisation). Nous enregistrons en même temps l’adresse IP, la date et l’heure de votre inscription. Les données ne sont en aucun cas transmises à des tiers.</p>
<p>Lors du processus d’inscription, votre consentement pour le traitement des données vous est demandé et il est fait référence à cette déclaration de confidentialité. Les données que nous recueillons sont utilisées exclusivement pour la mise à disposition du compte client.&nbsp;</p>
<p>Si vous consentez à ce traitement, la base juridique s’appliquant est celle de l’Art. 6, paragraphe 1, point a) du RGPD.</p>
<p>Dans la mesure où l’ouverture du compte client sert également à des mesures précontractuelles ou à l’exécution du contrat, la base juridique du traitement est également l’Art 6, paragraphe 1, point b) du RGPD.</p>
<p>Il est possible de retirer le consentement qui nous a été accordé lors de l’ouverture et de la gestion du compte client, avec effet non rétroactif, conformément à l’Art. 7, paragraphe 3 du RGPD. Il suffit pour cela de nous informer que vous souhaitez vous rétracter.</p>
<p>Les données seront supprimées dès que leur traitement ne sera plus nécessaire. Nous devons toutefois respecter le délai légal de conservation défini dans la législation fiscale et commerciale.</p>

<h4>Newsletter</h4>
<p>Lorsque vous vous abonnez à notre newsletter, les données qui vous ont été demandées (adresse électronique, et, éventuellement, vos nom et adresse postale) nous sont envoyées. Nous conservons simultanément l’adresse IP à partir de laquelle vous avez accédé à notre site, ainsi que la date et l’heure de votre inscription. Lors de la procédure d’inscription ultérieure, nous vous demanderons de consentir à l’envoi de cette newsletter, en décrirons le contenu précisément et nous référerons à la présente politique de confidentialité. Nous utilisons les données collectées exclusivement pour l’envoi de la newsletter&nbsp;: elles ne sont donc pas transmises à des tiers.</p>
<p>A ce titre, la base juridique est l’article 6, paragraphe 1, point a) du RGPD.</p>
<p>Il est possible de retirer à tout moment son consentement à recevoir la newsletter, conformément à l’Art. 7, paragraphe 3 du RGPD. Cette résiliation n’a pas d’effet rétroactif. Il vous suffit de nous informer de votre résiliation ou de cliquer sur le lien de désinscription figurant dans toutes les newsletters.</p>

<h4>Demandes/possibilités de contact</h4>
        Si vous nous contactez via un formulaire de contact ou par e-mail, les données fournies seront utilisées pour traiter votre demande. Fournir ces données est nécessaire pour traiter votre demande et y répondre : si vous ne les fournissez pas, nous ne pourrons pas répondre ou y répondrons, au mieux, dans la mesure du possible.
        La base juridique pour ce traitement est l’Art. 6, paragraphe 1, point b) du RGPD.
        Vos données seront par la suite supprimées, à condition que nous ayons répondu à votre demande et que la suppression ne viole pas les exigences de conservation légales, par exemple, pour exécuter un contrat ultérieurement.

<p><a href="https://www.ratgeberrecht.eu/leistungen/muster-datenschutzerklaerung.html" target="_blank" rel="noopener">Exemple de politique de confidentialité</a> du <a href="https://www.ratgeberrecht.eu/" target="_blank" rel="noopener">cabinet d’avocats Weiß &amp; Partner</a></p>
