<h1>Welcome</h1>
<div class="container">
  <div class="row">
    <p>
      Welcome to the International Unicycling Federation (IUF) Membership website. Use this site to buy your IUF Membership.
    </p>
  </div>
  <div class="row">
    <%= link_to "My Memberships", members_path, class: "btn btn-primary" %>
  </div>
</div>
