<h1>Home#index</h1>
<div class="container">
  <div class="row">
    <p>Find me in app/views/home/index.html.erb</p>
  </div>
  <div class="row">
    <%= link_to "Manage my Memberships", members_path, class: "btn btn-primary" %>
  </div>
</div>
