<a href="#german">German</a><br>
<a href="#english">English</a><br>
<a href="#french">French</a><br>

<h2 id="german">Datenschutzerklärung</h2>
<%= render "german_privacy_policy" %>

<h2 id="english">English Privacy Policy</h2>
<%= render "english_privacy_policy" %>

<h2 id="french">Politique de confidentialité</h2>
<%= render "french_privacy_policy" %>
