<% # from https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/
%>

<footer class="footer">
  <div class="container">
    <%= link_to "Privacy Policy", privacy_policy_path, class: "text-muted" %>
  </div>
</footer>
