<div class="jumbotron">
  <div class="container">
    <h1>Members#index</h1>

    Existing Members:
    <ul>
      <% @members.each do |member| %>
        <li><%= link_to member.to_s, member_path(member) %></li>
      <% end %>
    </ul>
    <p><%= link_to "New membership", new_member_path, class: "btn btn-primary btn-lg" %></p>
  </div>
</div>
